body {
  font-family:  Geneva, Tahoma, sans-serif;
  background: #24C6DC;
  background: -webkit-linear-gradient(to left, #24C6DC , #514A9D);
  background: linear-gradient(to left, #24C6DC , #514A9D);
  padding: 25px 0;
}

.container {
  max-width: 100%;
  width: 66%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
}

h2, #temperature {
  font-size: 55px;
}

h3 {
  font-size: 45px;
}

img {
  height: 200px;
  width: 200px;
}